@media screen and (min-width : 2250px) {
    html {
        font-size: 16px;
    }

    section {
        padding-left: 48rem;
        padding-right: 48rem;
    }
}

@media screen and (min-width : 2100px) {
    html {
        font-size: 14px;
    }


}