@media screen and (max-width : 426px) {
    h1 {
        left: 4rem;
    }

    .menu {
        right: 4rem;
    }

    .header_line {
        font-size: 42px;
    }

    .header_line svg {
        height: 32px;
        width: 32px;
    }

    .section_title_left p,
    .section_title_right h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .section_title_right h2 {
        margin-left: 2rem;
    }

    section {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .about_down {
        flex-direction: column;
    }

    .about_down div {
        width: 100%;
    }

    .illus_about {
        min-height: 30rem;
        margin-top: 4rem;
    }

    .card_services {
        flex-direction: column !important;
    }

    .card_services div {
        width: 100%;
        min-height: 30rem;
        margin-top: 4rem;

    }
}