* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

.spacer {
    height: 100vh;
}



html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;

}

img {
    image-rendering: optimizeQuality;
}

:root {
    --clr__1: #E0F8D0;
    --clr__2: #88c070;
    --clr__3: #081820;
}

@font-face {
    font-family: 'another';
    src: url(../fonts/ppmontreal/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: 'lacoste';
    src: url(../fonts/Lacoste.otf);
}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr__3);
}

a,
p,
h1,
h2,
h3 {
    color: var(--clr__1);
    font-weight: 400;
}

.noise_animation {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
    background-repeat: repeat;
    -webkit-animation: bg-animation 0.6s infinite;
    animation: bg-animation 0.6s infinite;
    visibility: visible;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -5%);
    }

    20% {
        transform: translate(-10%, 5%);
    }

    30% {
        transform: translate(5%, -10%);
    }

    40% {
        transform: translate(-5%, 15%);
    }

    50% {
        transform: translate(-10%, 5%);
    }

    60% {
        transform: translate(15%, 0);
    }

    70% {
        transform: translate(0, 10%);
    }

    80% {
        transform: translate(-15%, 0);
    }

    90% {
        transform: translate(10%, 5%);
    }

    100% {
        transform: translate(5%, 0);
    }
}

::selection {
    color: var(--clr__3);
    background-color: var(--clr__2);
}

/* --------------------------------- Scroll --------------------------------- */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr__2);
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr__2);
}

::-webkit-scrollbar-thumb:active {
    background: var(--clr__1);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border: 0px none var(--clr__2);
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:active {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
    background: transparent;
}


.grabbing * {
    cursor: grabbing;
}

/* -------------------------------------------------------------------------- */
/*                                    MENU                                    */
/* -------------------------------------------------------------------------- */
.menu {
    position: fixed;
    right: 12rem;
    top: 4rem;
    width: 12rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    z-index: 99999;
    cursor: pointer;
}

.menu:hover {
    background-color: var(--clr__2);
}

.menu .roller {
    font-family: 'another';
    font-size: 2rem;
}

.menu_corner {
    position: absolute;
}

.mc_1 {
    top: 1rem;
    left: 1rem;
}

.mc_2 {
    left: 1rem;
    bottom: 1rem;
}

.mc_3 {
    top: 1rem;
    right: 1rem;
}

.mc_4 {
    bottom: 1rem;
    right: 1rem;
}

.opened_menu {
    position: fixed;
    height: 43rem;
    width: 80rem;
    top: -200%;
    border-radius: 5px;
    background-color: var(--clr__2);
    z-index: 999999999;
    cursor: grab;
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    border: 1px var(--clr__3) solid;
}

.opened_menu .roller {
    align-self: center;
    font-family: 'another';
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--clr__3);
}

.opened_inside {
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem
}

.o_i_item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    border-bottom: 1px var(--clr__3) dashed;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    overflow: hidden;
}

.o_i_item:first-child,
.o_i_item:nth-child(2) {
    border-top: 1px var(--clr__3) dashed;

}

.o_i_item .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--clr__3);
    top: 0;
    left: -100%;
    transition: all .3s ease-in;
    z-index: -1;
}

.o_i_item p {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'another';
    color: var(--clr__3);
    transition: all .5s;

}

.o_i_item p span {
    margin-right: 2rem;
}

.opened_menu svg {
    transition: all .5s;
}

.opened_menu .o_i_item svg {
    transform: rotate(180deg);
    height: 2rem;
    width: 2rem;
    fill: var(--clr__3);
}

.o_i_item:hover svg path {
    fill: var(--clr__2);
}

.o_i_item:hover .bg {
    left: 0
}

.o_i_item:hover p {
    color: var(--clr__2)
}

.color_pickers {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picker {
    width: 32%;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
}

.picker_1 {
    background-color: #081820;
}

.picker_2 {
    background-color: #fff;
}

.picker_3 {
    background-color: #F94755;
}

.menu_socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu_socials div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'another';
}

.menu_socials div a {
    text-decoration: none;
    color: var(--clr__3);
    transition: all .2s ease-in;
}

.menu_socials div a:hover {
    color: var(--clr__1);

}

.close {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'another';
    border: 1px var(--clr__3) solid;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: all .2s;
}

.close:hover {
    border: 1px var(--clr__2) solid;
    background-color: var(--clr__3);
    color: var(--clr__2);
    cursor: pointer;

}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

.container_header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.container_header h1 {
    font-family: 'another';
    font-size: 64px;
    margin-left: 12rem;
    margin-top: 4rem;
}

.container_main_header {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 96px;
    margin-bottom: 48px;
}

.container_main_header p strong {
    font-weight: 400;
    color: var(--clr__2)
}

.header_line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--clr__1);
    font-family: 'another';
    gap: 4rem;
}

.fiesta_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_fiesta {
    background-image: url('../img/projects/citylights/grid.jpg');
    width: 60vw;
    height: 80vh;
    background-size: cover;
    background-position: center center;

}


/* --------------------------------- marquee -------------------------------- */


.marquee {
    height: auto;
    overflow: hidden;
    width: 100vw;
}

.dashed_line {
    margin-left: 40px;
}

.container_marquee {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.title_marquee {
    font-size: 12vw;
    position: relative;
    color: var(--clr__1);
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'lacoste';
    will-change: transform;
    z-index: 0;
}

.title_marquee img,
.title_marquee object,
.title_marquee svg {
    margin-left: 40px;
    margin-right: 40px;
}

.square_marquee {
    height: 50px;
    width: 50px;
    background-color: var(--clr__2);
}


/* -------------------------------------------------------------------------- */
/*                                    ABOUT                                   */
/* -------------------------------------------------------------------------- */

.container_about {
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 6rem;
}

.section_title {
    display: flex;
    flex-direction: row;
}

.section_title_left {
    width: 18%;
}

.section_title_left p {
    font-family: 'another';
    font-size: 10rem;
}

.section_title_right {
    width: 82%;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.section_title_right h2 {
    font-family: 'another';
    font-size: 10rem;
    color: var(--clr__2);
    position: relative;
    display: flex;
    flex-direction: row;
}

.chinese {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: bolder;
}

/* -------------------------------- services -------------------------------- */
.services_inner {
    padding-left: 18%;
}

.services_card_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.services_card {
    width: 25%;
    height: 100%;
    border: 2px var(--clr__1) solid;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: 'lacoste';

}

.services_card h3 {
    font-size: 4rem;
    height: 25%;
}

.services_card p {
    font-family: 'another';
    font-size: 1.6rem;
    height: 50%;
    padding-top: 4rem;
}

.services_card button {
    width: 24rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: center;
    font-size: 2rem;
    font-family: 'another';
    color: var(--clr__2);
    border: 1px var(--clr__2) solid;
    background-color: transparent;
    margin-top: 2rem;
    transition: all .2s ease-in;
    cursor: pointer;
}

.services_card button svg {
    height: 2rem;
    width: 2rem;
    transform: rotate(180deg);
    margin-left: 2rem;
}

.services_card button:hover {
    background-color: var(--clr__2);
    color: var(--clr__3);
}

.services_card button:hover svg path {
    fill: var(--clr__3);
    color: var(--clr__3)
}



.services .section_title_right img {
    height: 6rem;
    width: 6rem;
}


/* -------------------------------- services -------------------------------- */

.about_inner {
    padding-left: 18%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}

.about_inner_left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about_inner_left p:first-child {
    tab-size: 5;
    font-size: 2rem;
    font-family: 'another';
    text-align: justify;
    line-height: 160%;
}

.tabulation {
    color: transparent;
    user-select: none;
    pointer-events: none;
}

.about_inner_left .accroche {
    background-color: var(--clr__2);
    color: var(--clr__3);
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    font-family: 'another';
    margin-top: 10rem;
    font-weight: 800;
}


.about_down {
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    justify-content: space-between;
}

.illus_about {
    width: 42%;
    background-image: url('../img/projects/glry/maing.jpg');
    background-size: cover;
    background-position: center center;
}

.about_inner_right {
    display: flex;
    flex-direction: column;
    width: 42%;
}

.about_inner_right h3 {
    background-color: var(--clr__2);
    color: var(--clr__3);
    max-width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem 2rem;
    font-family: 'another';
    font-weight: 800 !important;
}

.tech_tabs {
    margin-top: 2rem;
    border-top: 1px dashed var(--clr__1);
    display: grid;
    grid-template-columns: 6fr 6fr;
    width: 100%;
    gap: 0 2rem;

}

.tech_tabs p {
    text-transform: uppercase;
    font-family: 'another';
    font-size: 2rem;
    display: flex;
    height: 4rem;
    align-items: center;
    border-bottom: 1px dashed var(--clr__1);
}


/* -------------------------------------------------------------------------- */
/*                                   Gallery                                  */
/* -------------------------------------------------------------------------- */

.container_gallery {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 6rem;
}

.gallery {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed var(--clr__1);
    padding-bottom: 10rem;
    padding-top: 8rem;
}

.galery_right {
    border-bottom: none;
    height: 27rem;
}

.gallery_item {
    background-image: url(../img/placeholder_banner.png);
    height: 82vh;
    width: calc(100vw - 80px);
    margin-right: 10rem;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_item:first-child {
    background-image: url(../img/slider/slider1.jpg);
}

.gallery_item:nth-child(2) {
    background-image: url(../img/slider/slider2.jpg);
}

.gallery_item:nth-child(3) {
    background-image: url(../img/slider/slider3.JPG);
}

.gallery_item:nth-child(4) {
    background-image: url(../img/projects/glry/maing.jpg);
}

.gallery_item:nth-child(5) {
    background-image: url(../img/projects/softlybrutal/main.jpg);
}

.gallery_item:nth-child(6) {
    background-image: url(../img/slider/slider6.jpg);
}



/* -------------------------------------------------------------------------- */
/*                                  portfolio                                 */
/* -------------------------------------------------------------------------- */

.container_portfolio {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 6rem;

}

.section_inner_portfolio {
    padding-left: 18%;
    padding-bottom: 11rem;
}

.section_inner_portfolio>p {
    font-size: 2rem;
    font-family: 'another';
    text-align: justify;
    width: 60%;
    margin-top: 8rem;
    margin-bottom: 12rem;
}

.pf_grid {
    border-top: 1px var(--clr__1) dashed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 2rem;
}

.pf_grid_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 8rem;
    border-bottom: 1px dashed var(--clr__1);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.pf_grid_item .item_text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.pf_grid_item .more_not_hover {
    height: 5rem;
    width: 5rem;
    transition: all .2s ease-in;
}

.pf_grid_item .roller {
    font-family: 'lacoste';
    font-size: 3rem;
}

.pf_grid_item .category {
    font-family: 'another';
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.pf_grid_item .bg {
    background-color: var(--clr__2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all .3s ease-out;
    z-index: -1;
}

.pf_grid_item:hover p {
    color: var(--clr__3);
}


.pf_grid_item .more_hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 200%;
}

.pf_grid_item:hover .bg {
    left: 0%;
}

.pf_grid_item:hover .more_not_hover {
    opacity: 0;
}

.pf_grid_item:hover .more_hover {
    right: 5.5rem;
}


/* -------------------------------------------------------------------------- */
/*                                   Contact                                  */
/* -------------------------------------------------------------------------- */

.container_contact {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 6rem;
}

.contact_inner {
    display: flex;
    flex-direction: row;
    padding-bottom: 15rem;
}

.contact_inner .right>p {
    font-size: 2rem;
    font-family: 'another';
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.socials {
    display: flex;
    flex-direction: column;
    border: 1px var(--clr__2) solid;
    width: 70%;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 20%;
}

.socials h3 {
    font-size: 3rem;
    font-family: 'lacoste';
}

.socials a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-top: 5rem;
    justify-content: space-between;
}

.socials a>p {
    text-decoration: none;
    font-family: 'another';
    font-size: 2rem;

}

.socials {
    padding-left: 2rem;
    padding-right: 2rem;
}

.socials svg {
    height: 2rem;
    width: 2rem;
    transform: rotate(180deg);

}

.contact_inner .left {
    width: 18%;
}

.contact_inner .right {
    width: 82%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form_line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.form_line input {
    width: 48%;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-bottom: 1px var(--clr__1) dashed;
    height: 4rem;
    font-size: 2rem;
    color: var(--clr__1);
    margin-bottom: 1rem;
    font-family: 'another';
    padding-left: 2rem;

}

.form_line input::placeholder {
    font-family: 'another';
    font-size: 2rem;

}

.form_line input:focus,
.form textarea:focus {
    background-color: #e0f8d038;
    outline: none;
}

.form textarea {
    resize: none;
    background-color: transparent;
    font-size: 2rem;
    color: var(--clr__1);
    border: none;
    border-bottom: 1px var(--clr__1) dashed;
    height: 20rem;
    font-family: 'another';
    font-weight: 400;
    padding: 2rem;
}

.form button {
    width: 24rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    font-family: 'another';
    color: var(--clr__2);
    border: 1px var(--clr__2) solid;
    background-color: transparent;
    margin-top: 2rem;
    transition: all .2s ease-in;
    cursor: pointer;
    align-self: end;
}

.form button:hover {
    color: var(--clr__3);
    background-color: var(--clr__2);
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.footer h4 {
    font-size: 6rem;
    color: var(--clr__1);
    font-family: 'lacoste';
    font-weight: 400;
}

.footer svg {
    height: .8rem;
    width: .8rem;
}

.footer a {
    text-decoration: none;
    font-family: 'another';
    font-size: 1rem;
}



/* -------------------------------------------------------------------------- */
/*                                 Transition                                 */
/* -------------------------------------------------------------------------- */

.transition {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: -2500px;
    left: 0;
    z-index: 999999999;
    background-color: rebeccapurple;
}

/* -------------------------------------------------------------------------- */
/*                                    Modal                                   */
/* -------------------------------------------------------------------------- */

.modal_project {
    background-color: var(--clr__3);
    position: fixed;
    height: 50rem;
    width: 40rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 2rem;
    border-radius: .5rem;
    border: 1px var(--clr__2) solid;
    cursor: grab;

}

.modal_project img {
    display: none;
}

#modal_1,
#modal_2,
#modal_3,
#modal_4,
#modal_5,
#modal_6,
#modal_7,
#modal_8 {
    top: -200%;
    left: -200%;
    z-index: 999999982;
    background-position: center center;

}

.cover_modal {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(13, 14, 13);
    z-index: -1;
    opacity: .6;
}

#modal_1 {
    background-image: url('../img/projects/noise/Frame4.jpg');
    background-position: 20% 0%;
}

#modal_1 .cover_modal {
    opacity: .15
}

#modal_2 {
    background-image: url('../img/projects/citylights/grid.jpg');
    background-size: cover;
}

#modal_2 .cover_modal {
    opacity: .75;
}

#modal_4 {
    background-image: url('../img/projects/softlybrutal/main.jpg');
    background-size: cover;
}

#modal_4 .cover_modal {
    opacity: .75;
}

#modal_5 {
    background-image: url('../img/projects/silkykiss/modalbg.jpg');
    background-size: cover;
}

#modal_6 {
    background-image: url('../img/projects/glry/maing.jpg');
    background-size: cover;
}

#modal_6 .cover_modal {
    opacity: .75;
}

#modal_7 {
    background-image: url('../img/projects/tsb/main.jpg')
}


.modal_title {
    color: var(--clr__2);
    font-family: 'lacoste';
    align-self: center;
    font-size: 4rem;
}

.modal_description {
    font-size: 1.8rem;
    text-align: left;
    font-family: 'another';
    width: 80%;
    align-self: center;
    color: var(--clr__2);
}

.modal_goto {
    width: 24rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    font-family: 'another';
    color: var(--clr__3);
    background-color: var(--clr__2);
    margin-top: 2rem;
    transition: all .2s ease-in;
    cursor: pointer;
    align-self: center;
    border: none;
}

.modal_goto:hover {
    color: var(--clr__2);
    background-color: var(--clr__3);
    border: var(--clr__2) 1px solid;
}

.modal_goto svg path {
    fill: var(--clr__3);
    color: var(--clr__3);
}

.modal_goto:hover svg path {
    fill: var(--clr__2);
    stroke: var(--clr__2);
}

.modal_goto svg {
    height: 2rem;
    width: 2rem;
    transform: rotate(180deg);
    margin-left: 2rem;
    transition: color .2s
}

.close_modal {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'another';
    border: 1px var(--clr__2) solid;
    color: var(--clr__2);
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: all .2s;
}


.close_modal:hover {
    border: 1px var(--clr__1) solid;
    background-color: var(--clr__3);
    color: var(--clr__1);
    cursor: pointer;

}

.anim_title {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.anim_title .letter_wrapper {
    position: absolute;

}

.lw_2 {
    margin-left: 20px;
}

.l_2 {
    margin-left: 24px;
}

.title_section p {
    display: flex;
    flex-direction: row;
}

.inner_contact_text {
    width: 60%;
}

.img_cl {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

}

.img_glry {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    animation: reveal_images .8s linear forwards;
}

.gundam {
    width: 50vw !important;
    margin-left: 25vw !important;
}

#modal_8 {
    width: 80vw;
    height: 70vh;
    padding-right: 8rem;
    padding-left: 8rem;
}

#modal_8 .modal_title {
    position: absolute;
    top: 4rem;
    left: 8rem;
}

#modal_8 .close_modal {
    right: 8rem;
    top: 4rem;
}

.logofolio_inner {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.main_logofolio {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    overflow: scroll;
}

.logo_elem {
    height: 120px;
    width: 120px;
    background-color: red;
    background-size: cover;
}

.logo_view {
    width: 60%;
    background-image: url('../logo/couleurs/cs.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 760px) {

    #modal_8 {
        padding-right: 2rem;
        padding-left: 2rem;
        height: 90vh;
    }

    #modal_8 .modal_title {
        left: 2rem;
        top: 2rem;
    }

    #modal_8 .close_modal {
        right: 2rem;
        top: 2.5rem;
    }

    .main_logofolio {
        width: 100%;
        height: 50%;
        padding: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .logo_view {
        height: 100%;
        width: 100%;
    }

    .logofolio_inner {

        flex-direction: column;
    }
}