.proj_h1 {
    position: fixed;
    top: 4rem;
    left: 12rem;
    font-family: 'another';
    font-size: 4rem;
    transition: all .2s ease-out;
}

.proj_h1 a:hover {
    color: var(--clr__2);
}

.return {
    position: fixed;
    top: 4rem;
    right: 12rem;
    transition: all .2s ease-out;
    cursor: pointer;
}

.return:hover {
    transform: rotate(90deg)
}

.proj_body a {
    text-decoration: none;
}

.proj_body .marquee {
    position: absolute;
    top: 25vh;
    height: 25rem;
}

.projects_main {
    padding-left: 36rem;
    padding-right: 36rem;
    margin-top: 65vh;
}

.proj_banner {
    width: 100%;
    margin-bottom: 12rem;
}

.quote_container {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'another';
    margin-bottom: 12rem;
}

.quote_container p {
    width: 50%;
    text-align: left;
}

.quote_container p strong {
    color: var(--clr__2);
}

.img_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 12rem;
}

.img_row img {
    width: 50%;
}

.proj_body .footer {
    margin-left: 0;
    margin-right: 0;
}

.proj_body .button {
    width: 100%;
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--clr__2);
    cursor: pointer;
    margin-bottom: 4rem;
}

.proj_body .button:hover p,
.proj_body .button:hover svg path {
    color: var(--clr__1);
    fill: var(--clr__1)
}

.proj_body .button svg {
    transform: rotate(180deg);
    height: 5rem;
}

.proj_body .button svg path {
    fill: var(--clr__3);
}

.proj_body .button p {
    font-size: 4rem;
    font-family: 'another';
    text-transform: uppercase;
    margin-right: 4rem;
    color: var(--clr__3);
}

.solo img {
    width: 100%;
}

@media screen and (min-width : 2300px) {
    html {
        font-size: 16px;
    }

    .projects_main {
        padding-left: 36rem;
        padding-right: 36rem;
    }
}

@media screen and (max-width : 1441px) {
    .projects_main {
        padding-left: 28rem;
        padding-right: 28rem;
    }
}

@media screen and (max-width : 1025px) {
    .projects_main {
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .proj_body .marquee {
        height: 14rem;
    }
}

@media screen and (max-width : 769px) {
    .projects_main {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .proj_body .marquee {
        height: 11rem;
    }

    .proj_body .marquee svg {
        height: 6rem;
    }

    .proj_body .button p {
        font-size: 3rem;
    }
}

@media screen and (max-width : 426px) {
    .projects_main {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    h1 {
        left: 4rem !important;
    }

    .return {
        right: 4rem;
        height: 3rem;
    }

    .img_row {
        flex-direction: column;
    }

    .img_row img {
        width: 100%;
    }

    .quote_container p {
        width: 80%;
    }

    .proj_body .marquee {
        height: 6rem;
    }

    .proj_body .marquee svg {
        height: 4rem;
    }

    .proj_body .button p {
        font-size: rem;
    }
}

@media screen and (max-width : 361px) {
    .proj_body .marquee {
        height: 5rem;
    }

    .projects_main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}